<div class="modal-wrapper">
  <div class="modal-header">
      <h4 class="modal-title">{{user}}</h4>
      <button type="button" class="closeModal btn btn-warning" aria-label="Close"
       (click)="activeModal.dismiss('Cross click')"><i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <p>My modal content</p>
    </div>
    <div class="modal-footer">
      <button (click)="activeModal.dismiss('Close clicked')">
        Enregistrer et quitter
      </button>
    </div>
</div>