<div class="modal-wrapper">

  <div class="modal-header">
    <button type="button" class="closeModal btn btn-warning" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
        class="fas fa-times"></i>
    </button>
    <div class="profil">
      <h4 class="modal-title">{{user}}</h4>
      <img class="trombi-img" src="../../assets/images/plat.jpg" alt="">
    </div>
  </div>


  <div class="modal-body">
  <table class="table-hover">
    <tr>
      <td><b>Nom</b></td>
      <td>{{user}}</td>
      <td><i class="fas fa-pencil-alt"></i></td>
  </tr>
    <tr>
        <td><b>Promo</b></td>
        <td>{{promo}}</td>
        <td><i class="fas fa-pencil-alt"></i></td>
    </tr>
    <tr>
        <td><b>Email</b></td>
        <td>{{email}}</td>
        <td><i class="fas fa-pencil-alt"></i></td>
    </tr>
    <tr>
        <td><b>Régime alimentaire</b></td>
        <td>{{regime}}</td>
        <td><i class="fas fa-pencil-alt"></i></td>
    </tr>

  </table>




  </div>


  <div class="modal-footer">
    <button (click)="activeModal.dismiss('Close clicked')">
      Enregistrer et quitter
    </button>
  </div>
</div>