<div class="main">

    <table class="table-hover table">
        <tr class="">
          <th>Date</th>
          <th>Client</th>
          <th>Prix total</th>
          <th>Détail commande</th>
          <th>Annuler</th>
        </tr>
        <tr *ngFor="let commande of commandes">
          <td>{{commande.date}}</td>
          <td>{{commande.client}}</td>
          <td>{{commande.prixtotal}}</td>
          <td>{{commande.panier}}</td>
          <td><i class="fas fa-ban"></i></td>
        </tr>
      </table>
    
  
  <a routerLink=""><button class="btn btn-lg btn-warning">
    Enregistrer et revenir à l'acceuil
  </button></a>
</div>