/* You can add global styles to this file, and also import other style files */
.menu {
    background-color: #C59D6E;
}
.main-content {
    background-color: #F1E4B5;
}
.closeModal {
    background-color: red;
    position: absolute;
    top:-5px;
    left: 45%;
}

.modal-wrapper {
    text-align: center;
}
.modal-footer {
    display: block!important;
}
.modal-header {
    display:block!important;
}