<div class="modal-wrapper">

  <div class="modal-header">
    <button type="button" class="closeModal btn btn-warning" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
        class="fas fa-times"></i>
    </button>
    <div class="profil">
      <h4 class="modal-title">Recharger les utilisateurs</h4>
    </div>
  </div>


  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <h3>Opération</h3>
        <div class="radio">
          <label><input type="radio" name="optradio">Ajout</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio">Retrait</label>
        </div>
        <div class="radio disabled">
          <label><input type="radio" name="optradio">Modification manuelle</label>
        </div>
        <label for="montant">Montant :</label><input name="montant" type="number">
      </div>
      <div class="col-6">
        <h3>Listes des utilisateurs concernés</h3>
        <div class="form-group">
          <label for="promoAston">Selectionner promotion:</label>
          <select class="form-control" id="promoAston">
            <option>MCDNT</option>
            <option>ESD</option>
            <option>AdSys</option>
            <option>Staff</option>
          </select>

          <label for="etudiantPromoAston">Selectionner étudiant:</label>
          <select class="form-control" id="etudiantPromoAston">
            <option>Julien</option>
            <option>Alex</option>
            <option>JB</option>
            <option>...</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default">Ajouter à la sélection</button>
      </div>
    </div>
  </div>


  <div class="modal-footer">
    <button class="btn btn-lg btn-warning" class="btn btn-warning btn-lg" (click)="activeModal.dismiss('Close clicked')">
      Enregistrer et quitter
    </button>
  </div>
</div>