<div class="dayWrapper" *ngFor="let day of days; let i of index">
    <ul class="list-group">
        <li class="text-center list-group-item li-title">
            Nom du menu
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Voir le détail</a>
                </div>
            </div>
        </li>
        <!--<app-plat></app-plat>-->

    </ul>
</div>