<div id="content">
	<div id="message">
			<ngb-alert *ngIf="!staticAlertClosed" type="warning" (close)="staticAlertClosed = true" class="border border-warning rounded-bottom">Le plat a été ajouté à votre panier</ngb-alert>
	</div>
	<h2 class="text-right"><i id="luciolle" class="fas fa-circle fa-xs"></i>  {{date | date:'HH:mm'}}</h2>
	<h3 class="text-right">{{date | date:'dd MMMM yyyy'}}</h3>
	<h1 class="text-center">Planning de la semaine</h1>
	<div class="container mt-5 ">
		<div class="row d-flex justify-content-between">
		<app-calendrier dayName="Lundi"></app-calendrier>
		<app-calendrier dayName="Mardi"></app-calendrier>
		<app-calendrier dayName="Mercredi"></app-calendrier>
		<app-calendrier dayName="Jeudi"></app-calendrier>
		<app-calendrier dayName="Vendredi"></app-calendrier>
		</div>
	</div> 
</div>