<div class="flex-container">
	<div id="row content">
		<div id="message">
				<ngb-alert *ngIf="!staticAlertClosed" type="warning" (close)="staticAlertClosed = true" class="border border-warning rounded-bottom">Le plat a été ajouté à votre panier</ngb-alert>
		</div>
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-7">
					<h1 class="text-center">Planning de la semaine</h1>
				</div>
				<div class="col-md-5">
					<div class="text-right mt-2 mr-2">
						<div><a href="#" style="color: #9d7d58;" (click)="openFormModalInfos()"><i class="fas fa-info-circle fa-2x"></i></a></div>
						<h2><i id="luciolle" class="fas fa-circle fa-xs"></i>  {{ date | date:'HH:mm' }}</h2>
						<h3>{{ date | date:'dd MMMM yyyy' }}</h3>
					</div>
				</div>
			</div>
			<app-calendrier class="row d-flex justify-content-between" style="width :80vw; margin: auto"></app-calendrier>
		</div>
	</div>
</div>