<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header text-center">
        <h3>Food For Fun</h3>
        <strong>FFF</strong>
    </div>

    <ul class="list-unstyled components text-center">
        <li>
            <a href="#" (click)="openFormModalCompte()"><i class="fas fa-user"></i><span> [Username]</span></a>
        </li>
        <li>
            <a href="#" (click)="openFormModalPanier()"><i class="fas fa-shopping-cart"></i><span> Panier</span></a>
        </li>
        <li>
            <a href="#" (click)="openFormModalHistorique()"><i class="fas fa-book"></i><span> Historique</span></a>
        </li>
    </ul>
    <div class="gestion">
        <h4>Gestion</h4>
        <ul class="liste-unstyled components text-center">
            <li>
                <a href="#" (click)="openFormModalRecharge()"><i class="fas fa-credit-card"></i><span> Recharger</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-cogs"></i><span> Gérer les commandes</span></a>
            </li>
            <li>
                <a href="#"><i class="fas fa-clipboard-list"></i><span> Logs</span></a>
            </li>
        </ul>
    </div>
</nav>