<!-- Sidebar -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" class="sidenav" [@openClose]="sidenavWidth" opened="true" (mouseenter)="increase()" (mouseleave)="decrease()">

    <div class="sidebar-header text-center">
      <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
        <h3>Food For Fun</h3>
      </div>
      <div *ngIf="sidenavWidth == 'closed'" class="sidenav-item">
        <strong>FFF</strong>
      </div>
    </div>
    <div class="sidebar-main-menu">
      <mat-nav-list>

        <mat-list-item (click)="openFormModalCompte()">
          <mat-icon>account_circle</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>[Username]</h5>
          </div>
        </mat-list-item>

        <mat-list-item (click)="openFormModalConnexion()">
          <mat-icon>account_circle</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>[Connexion]</h5>
          </div>
        </mat-list-item>

        <mat-list-item (click)="openFormModalPanier()">
          <mat-icon>shopping_cart</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>Panier</h5>
          </div>
        </mat-list-item>

        <mat-list-item (click)="openFormModalHistorique()">
          <mat-icon>history</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>Historique</h5>
          </div>
        </mat-list-item>

      </mat-nav-list>
    </div>

    <div class="gestion">
      <div class="sidebar-header text-center">
        <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
          <h4>Gestion</h4>
        </div>
       </div>

      <mat-nav-list>

        <mat-list-item (click)="openFormModalRecharge()">
          <mat-icon>credit_card</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>Recharger</h5>
          </div>
        </mat-list-item>

        <mat-list-item routerLink="/gestion">
          <mat-icon>settings</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>Gérer les commandes</h5>
          </div>
        </mat-list-item>

        <mat-list-item >
          <mat-icon>my_library_books</mat-icon>
          <div fxFlex="10"></div>
          <div *ngIf="sidenavWidth == 'open'" class="sidenav-item">
            <h5>Logs</h5>
          </div>
        </mat-list-item>

      </mat-nav-list>
    </div>
  </mat-sidenav>

  <div class="sidenav-content">
    <div class="container">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


</mat-sidenav-container>
