<div class="modal-wrapper">
  <div class="modal-header">
    <button type="button" class="closeModal btn btn-warning" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
            class="fas fa-times"></i>
    </button>
    <h4 class="modal-title"><h2>Ajouter un plat</h2></h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="addPlat(newPlat)" #newPlat="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" class="form-control" id="name" name="name" ngModel>
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" class="form-control" id="price" name="price" ngModel>
      </div>
      <div class="form-group">
        <label for="type_dish">Type de plat</label>
        <select class="form-control" name="type_dish" id="type_dish" ngModel>
          <option value="Entrée">Entrée</option>
          <option value="Plat">Plat</option>
          <option value="Dessert">Dessert</option>
          <option value="Boisson">Boisson</option>
        </select>
      </div>
      <div class="form-group">
        <label for="temp">Température</label>
        <select class="form-control" name="temp" id="temp" ngModel>
          <option value="Chaud">Chaud</option>
          <option value="Froid">Froid</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ingredient">Liste ingrédients</label>
        <input type="text" class="form-control" id="ingredient" name="ingredients" ngModel>
        <small id="emailHelp" class="form-text text-muted">Veuillez bien séparer les ingrédients avec des ";" pour que le système les prennent en compte.</small>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="email" class="form-control" id="image" name="image" ngModel>
      </div>
      <div class="form-group">
        <label for="date">Date de disponibilité</label>
        <input type="date" class="form-control" id="date" name="date" ngModel>
      </div>
      <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
  </div>
</div>