<div class="modal-wrapper">
  <div class="modal-header">
    <button type="button" class="closeModal btn btn-warning" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
            class="fas fa-times"></i>
    </button>
    <div class="profil">
      <h4 class="modal-title">Informations pratiques</h4>
    </div>
  </div>
  <div class="modal-body text-left">
    <p>
      Afin de pouvoir passer vos commandes, veuillez vous s'inscrire/connecter.
    </p>
    <p>
      Votre "cagnotte" peut être uniquement créditée en allant voir la cantinière et en lui fournissant un justificatif d'identité ainsi
      que la somme à injecter sur votre compte.
    </p>
    <p>
      Les commandes pour le jour même sont uniquement possible avant 10h30.
    </p>
    <p>
      Vous ne pouvez passer commande que si le montant de celle-ci ne dépasse par votre "cagnotte".
      Vous pouvez vérifier son solde sur votre espace personnel.
    </p>
    <p>
      A la suite d'une commande, vous recevrez un e-mail de confirmation.
      <br>
      <span class="text-danger">Attention!</span> Ne prenez pas cela pour acquis, la cantinière peut annuler votre commande en cas de problème.
      Mais ne vous inquiétez pas, vous serez informé par e-mail.
    </p>
  </div>
</div>